@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive!important;
    font-family: 'Hind Siliguri', sans-serif;
    
}
.top_gainers{
    padding:10px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.products {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}
h1,h2{
    color: #ff0077;
}
.logo{
color: #ff0077;
margin-top: 40px;
font-size: 40px;
font-weight: bolder;
text-align: center;
}
.sidebar{
    background: rgba(255, 255, 255, 0.653);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px!important;
    min-height: 100%;
    /* background-image: url("../static/images/"); */
    background-repeat: no-repeat;
    background-position:left bottom;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ff0077 !important;
    border-color: #ff0077!important;
}
input.form-control.me-2 {
    border: 0.1px solid #ff0077;
    border-radius: 0!important;
}
.btn-outline-success {
    color: #fff!important;
    border-color: #ff0077!important;
    border-radius: 0!important;
    background: #ff0077!important;


}
.btn-outline-success:hover{
    background-color: #ff0077;
    color: #fff;
}
ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 15px;
    font-weight: 600;
}
.current_forecast{
    align-items: center;
    justify-content: space-between;
    
}
.lat-coom{
    justify-content: space-between;
}
.timeDate {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
}
/* .valign-wrapper tbody {
    display: flex;
    align-items: center;
    justify-content: center;
}
.valign-wrapper tr{
    margin-left: 15px;
} */
.row.botttom.raw {
    display: none;
}
.main_wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px!important;
    border-radius: 5px;
margin-top: 20px;
}
table td{
    padding-left: 10px;

}
#time{
    padding-left: 10px;
}
.explore {

    padding-bottom: 10px;
}
strong.time {
    font-weight: 200;
    font-size: 21px;
}
.yoga-baba{
    width: 90px;
   
}
.logo_div{
    text-align: center;
}
.robot {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 57%;
    width: 332px;
    text-align: center;
    left: 6%;
}
.bg-light {
    background-color: #fff!important;
}
.main_commo_img img {
    width: 100%!important;
margin-top: 25px;
}
.info_box {
    padding: 10px;
}
.col-md-6.my_chart{
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.my_chart {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}
img.make_small {
    width: 50px;
    height: 50px;
}
b{
    font-weight: 100;
}
.container.main_wrapper {
    background: rgb(255,255,255);
}
/* media queries */
.actual_wrapper{
    height: 650px!important;
}
.row.commo_row {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.inner_div_home {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
img.img-fluid.img-side {
    height: 236px;
    transform: scaleX(-1);
}
img.modal_img {
    width: 252px;
    float: right;
    margin-bottom: -30px;
    margin-top: -110px;

}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
   
}.modal-dialog{
    max-width: 900px!important;
}
}