<!DOCTYPE html>
<html>
<head>
  <title>Andaaj</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body class="main">
  <div class="container actual_wrapper main_wrapper home">
    <div class="row">
      <div class="col-3 sidebar ">
        <div class="">
          <div class="logo_div">
           
          <!-- <img class="yoga-baba" src="../static//images/yoga.png" alt=""> -->
          <h2 class="logo">Andaaz</h2>
          </div>
          <div class="menus">
            <div class="card-content black-text">
              <h6 class="list-group-item list-group-item-action active" >Commodity price predictor</h6>
              <h6 class="list-group-item list-group-item-action " data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor: pointer;font-weight: 900;" >Browse All</h6>
               <span class="card-title" id="time">{{context.sixmonths[0][0]}}</span>
              <table class="valign-wrapper ">
                <tr>
                  <td><h5 id="crop1">{{context.sixmonths[0][1]}}</h5></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td class="right">
                      <h4 id="price1">৳{{context.sixmonths[0][2]}}</h4>
                  <p id="pos-change" class="valign-wrapper right">{{context.sixmonths[0][3]}}%</p><img id="change1" src="../static/gain-icon.png" height="20" width="20"></td>
    
                </tr>
              
                <tr>
                  
                  <td><h5 id="crop2">{{context.sixmonths[0][4]}}</h5></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td class="right"><h4 id="price2">৳{{context.sixmonths[0][5]}}</h4>
                  <p id="neg-change" class="valign-wrapper right">{{context.sixmonths[0][6]}}%</p><img id="change2" src="../static/loss-icon.png" height="20" width="20">
                    </td>
                   
                </tr>
         
              </table>
              <script>
                function sleep(ms) {
                  return new Promise(resolve => setTimeout(resolve, ms));
                 }
                function updateTime(i){
                  $('#time').load('http://localhost:5000/ticker/'+0+ '/' + i);
                }
    
                function updateCrop1(i){
                  $('#crop1').load('http://localhost:5000/ticker/'+ 1 + '/' + i);
                }
    
                function updatePrice1(i){
                  $('#price1').load('http://localhost:5000/ticker/'+ 2 + '/' + i);
                }
    
                function updateChange1(i){
                  $("#change1").attr("src","../static/gain-icon.png");
                  $('#pos-change').load('http://localhost:5000/ticker/'+ 3 + '/'  + i);
    
                }
    
                function updateCrop2(i){
                  $('#crop2').load('http://localhost:5000/ticker/'+ 4 + '/'  + i);
                }
    
                function updatePrice2(i){
                  $('#price2').load('http://localhost:5000/ticker/'+ 5 + '/'  + i);
                }
    
                function updateChange2(i){
                  $("#change2").attr("src","../static/loss-icon.png");
                  $('#neg-change').load('http://localhost:5000/ticker/'+ 6 + '/'  + i);
    
                }
              </script>
    
                <script>
                        var i = 0
                        setInterval(async function(){
                        i = (i+1)%5;
                        updateTime(i);
    
                        updateCrop1(i);
                        await sleep(200);
    
                        updatePrice1(i);
                        await sleep(200);
    
                        updateChange1(i);
                        await sleep(200);
    
                        updateCrop2(i);
                        await sleep(200);
    
                        updatePrice2(i);
                        await sleep(200);
    
                        updateChange2(i);
                        await sleep(200);
    
                        /*
                        setTimeout(updateCrop1(i), 100);
                        setTimeout(updatePrice1(i), 300);
                        setTimeout(updateChange1(i), 500);
                        setTimeout(updateCrop2(i), 700);
                        setTimeout(updatePrice2(i), 800);
                        setTimeout(updateChange2(i), 900);
                        */
    
                        }, 4000);
    
                </script>
    
            </div>
            <img src="../static/images/tumblr_pe7t060ArP1sjd86qo1_1280.gif" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="col-9 ">
        <div class="main_nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid ">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a style="cursor: pointer;" class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">All Commodity</a>
                        <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">All Commodity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row explore">
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/paddy"><img src="https://img.icons8.com/color/48/000000/rice-bowl.png" alt="" class="make_small"></a>
             <h4>Rice</h4> 
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/wheat"><img src="https://img.icons8.com/color/48/000000/wheat.png" alt="" class="make_small"></a>
             <h4>wheat</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/barley"><img src="https://img.icons8.com/color/48/000000/barley.png" alt="" class="make_small"></a>
             <h4>barley</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/soyabean"><img src="https://img.icons8.com/color/48/000000/soy.png" alt="" class="make_small"></a>
             <h4>Soya Bean</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/rape"><img src="https://img.icons8.com/color/48/000000/seed.png" alt="" class="make_small"></a>
             <h4>rape</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/copra"><img src="https://img.icons8.com/color/48/000000/coconut.png" alt="" class="make_small"></a>
             <h4>Coconut</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/groundnut"><img src="https://img.icons8.com/color/48/000000/peanuts.png" alt="" class="make_small"></a>
             <h4>Ground Nut</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/sugarcane"><img src="https://img.icons8.com/color/48/000000/bamboo.png" alt="" class="make_small"></a>
             <h4>SugarCane</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/maize"><img src="https://img.icons8.com/color/48/000000/corn.png" alt="" class="make_small"></a>
             <h4>Corn</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/jute"><img src="https://img.icons8.com/color/48/000000/potato.png" alt="" class="make_small"></a>
             <h4>Raw Jute</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/gram"><img src="https://thumbs.dreamstime.com/b/heap-black-chickpeas-kala-chana-isolated-white-background-159011258.jpg" alt="" class="make_small"></a>
             <h4>Pulse</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/moong"><img src="https://cdn.shopify.com/s/files/1/0588/8324/4193/products/loose-moong-dal-1-kg-0-20210702_669x669.jpg?v=1637840862" alt="" class="make_small"></a>
             <h4>Moog Dal</h4>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12">
            <div class="products ">
             <a href="http://localhost:5000/commodity/masoor"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpDnJObKdnu7lD4HOHexZ4GUcLihqOCVlPgn2g1uWYIJbN-yYtfUjtQ0bqAnbfU4WgEyk&usqp=CAU" alt="" class="make_small"></a>
             <h4>Masoor Dal</h4>
            </div>
          </div>
        </div>
       
      </div>
      <div>
        <img src="../static//images/794179300b5f014610c07cacbb2bbfdb.gif" alt="" class="modal_img">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " style="background-color: #ff0077;color:white" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                      </li>
                      <li class="nav-item">
                        <a href=""><img src="https://img.icons8.com/color/48/000000/male-user.png" alt=""></a>
                  
                      </li>
                      
                    </ul>
                    
                  </div>
                </div>
              </nav>
        </div>
       <div class="container-fluid ">

        <div class="d-flex current_forecast">
          <div>
            <h2>Dashboard</h2>
          <p>Home/Dashboard</p>
          </div>
         
          <div class="timeDate" >
            <strong style="margin-bottom:50px!important" class="time"></strong>
            
          </div>
      </div>
      <div class="inner_div_home">
      <div class="row">
          <div class="col-md-6 col-12 top_gainer_div">
           <div class="top_gainers">
            <h3>Top Gainers(Current)</h3>
            <canvas id="myChart"></canvas>
        </div>
           </div>
          <div class="col-md-6 col-12 top_loser_div">
          <div class="top_gainers">
            <h3>Top Losers(Current)</h3>
            <canvas id="topLosers"></canvas>
          </div>
      </div>
    </div>
    <div>
      <h3 style="margin-top:20px ;">Explore By Commidity</h3>
    </div>
    <div class="row explore">
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/paddy"><img src="https://img.icons8.com/color/48/000000/rice-bowl.png" alt="" class="make_small"></a>
         <h4>Rice</h4> 
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/wheat"><img src="https://img.icons8.com/color/48/000000/wheat.png" alt="" class="make_small"></a>
         <h4>wheat</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/barley"><img src="https://img.icons8.com/color/48/000000/barley.png" alt="" class="make_small"></a>
         <h4>barley</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/soyabean"><img src="https://img.icons8.com/color/48/000000/soy.png" alt="" class="make_small"></a>
         <h4>Soya Bean</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/rape"><img src="https://img.icons8.com/color/48/000000/seed.png" alt="" class="make_small"></a>
         <h4>rape</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/copra"><img src="https://img.icons8.com/color/48/000000/coconut.png" alt="" class="make_small"></a>
         <h4>Coconut</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/groundnut"><img src="https://img.icons8.com/color/48/000000/peanuts.png" alt="" class="make_small"></a>
         <h4>Ground Nut</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/sugarcane"><img src="https://img.icons8.com/color/48/000000/bamboo.png" alt="" class="make_small"></a>
         <h4>SugarCane</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/maize"><img src="https://img.icons8.com/color/48/000000/corn.png" alt="" class="make_small"></a>
         <h4>Corn</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/jute"><img src="https://img.icons8.com/color/48/000000/potato.png" alt="" class="make_small"></a>
         <h4>Raw Jute</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/gram"><img src="https://www.un.org/sites/un2.un.org/files/pulses_ok_0.png" alt="" class="make_small"></a>
         <h4>Pulse</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/moong"><img src="https://cdn.shopify.com/s/files/1/0588/8324/4193/products/loose-moong-dal-1-kg-0-20210702_669x669.jpg?v=1637840862" alt="" class="make_small"></a>
         <h4>Moog Dal</h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <div class="products ">
         <a href="http://localhost:5000/commodity/masoor"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpDnJObKdnu7lD4HOHexZ4GUcLihqOCVlPgn2g1uWYIJbN-yYtfUjtQ0bqAnbfU4WgEyk&usqp=CAU" alt="" class="make_small"></a>
         <h4>Masoor Dal</h4>
        </div>
      </div>
    </div>
  </div>
       </div>
    </div>
  </div>
  <div>
	<!-- <div class="nav-wrapper">

		<h3 class="card-panel #ffd54f amber lighten-2 center valign-wrapper center"><a class="brand-logo  #ffd54f-text text-lighten-4" href="#"><img alt="" src="/static/ApnaAnaajLogo.png" height="100px" width="100px" class="responsive-img" />
          <span>Andaaza</span></a>
          </a></h3><h3>

	</div> -->

    <!--
  <h3 class="card-panel #ffd54f amber lighten-2 center valign-wrapper center"><img src="/static/ApnaAnaajLogo.png
" height="70px" width="70px">Apna Anaaj</h3>
    -->
<!---->
    <div class="row botttom raw">
    <div class="card-panel col s9">
      <h4 class=" #e0f7fa cyan lighten-5">Top Gainers(Current trends)</h4>
      <table class="striped">
        <tbody>
        {% for item in context['top5'] %}
          <tr>
            <td class="commodity_name_grow">{{item[0]}}</td>
            <td class="commodity_price_price">{{item[1]}}</td>
            <td class="valign-wrapper">{{item[2]}}% <img src="../static/gain-icon.png" height="25" width="25"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
        <div class="card-panel">
      <h4 class="#e0f7fa cyan lighten-5">Top Losers(Current trends)</h4>
      <table class="striped">
        <thead>
          <tr>
              <th>Item Name</th>
              <th>Price (per Qtl.)</th>
              <th>Change</th>
          </tr>
        </thead>

        <tbody>
        {% for item in context['bottom5'] %}
          <tr>
            <td class="top_loser_name">{{item[0]}}</td>
            <td class="top_loser_price">{{item[1]}}</td>
            <td class="valign-wrapper">{{item[2]}}% <img src="../static/loss-icon.png" height="25" width="25"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            </div>
    </div>
    <div class="col s3">
      <div class="card grey lighten-3">
        
      </div>

    </div>
  </div>
  
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static//main.js"></script>

</html>
