<!DOCTYPE html>
<html>
    <head>
    <title>andaaj</title>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <link rel="stylesheet" href="../static/main.css">
    </head>
<body class="main">
    <div class="container ">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="logo_div">
                    <a href="http://127.0.0.1:5000/" style="text-decoration:none"><h2 class="logo">andaaz</h2></a>
                    </div>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">All Commodity</a>
                        </li>
                        <li class="nav-item">
                          <a style="text-decoration:none; margin-right: 10px;" href="/register">register</a>
                        </li>
                        <li><a style="text-decoration:none; margin-right: 10px;" href="/login">login</a></li>
                  </ul>
                </div>
              </nav>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6 ">
                <div class="text-center">
           
                    <!-- <img class="yoga-baba" src="../static//images/yoga.png" alt=""> -->
                   
                    <img class="login_image img-fluid"  src="../static/images/login.gif" alt="hi">
                    </div>
            </div>
            <div class="col-md-6 col-12">
                <h1 class=" text-start login-text">Register Now</h1>
                <strong class="py-5">login with your andaaz credentials</strong>
                <form method="post">
					<label>Name:</label>
					<input class="form-control" type="text" name="name" required><br>
					<label>Email:</label>
					<input class="form-control" type="email" name="email" required><br>
					<label>Password:</label>
					<input class="form-control" type="password" name="password" required><br>
					<input class="btn btn-outline-success" type="submit" value="Register">
				</form>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static//main.js"></script>
	
</body>
</html>
